// V A R I A B L E S

// COLORES

$black : #000000 ;

$white :#FFFFFF ;

$light-gray : #DFDFDF ;

$brown : #522211 ;

$orange-hover : #CA741A ;

$yellow : #F0BA1D;

$yellow-hover : #f1cd62 ;

// FONT FAMILY

$baskerville : "Libre Baskerville", serif ;

$roboto : "Roboto", sans-serif ;

$brush : "Alex Brush", cursive ;

