@mixin button($color, $hover) {

  background-color: $color ;
  border-radius: 44px ;
  border-style: none ;
  font-family: $roboto;
  font-size: 20px ;
  padding: 12px 19px ;

  &:hover{

    background-color: $hover ;
  }
}

