.contact-site-map {

  @include site-map ;
  float: left ;
  padding-left: 100px;
  padding-top: 100px ;
}


.form {

  float : right ;
}

.line {
  margin-bottom : 1rem ;
}

.line label {
  display : block ;
}

.msj-error {
  background-color : pink ;
  border : 1px solid red ;
}

.msj-valid {
  background-color : lightgreen ;
  border: 1px solid darkgreen ;
}

.line input {

  color : $light-gray ;
  font-family : $roboto ;
  font-size : 1.785em ;
  height : 70px ;
  margin : 0 ;
  padding : 0 ;
  width : 500px ;
}


.contact-title {

  text-align: center ;
}

.text-form {
  color: $white ;
  font-weight: 400 ;
  h3 {
    font-family: $baskerville ;
    font-size: 3.75em ;
  }
  p{
    font-family: $roboto ;
    font-size: 1.785em;
  }
  a {
    color: $white ;
    font-family: $roboto ;
    font-size: 1.785em;
    }
  }

.form-contact{
  display: block ;
  float: left ;
  margin-top: 200px ;
}

.form-button {

  background-color: $black ;
  border: 2px solid $white;
  border-radius: 44px;
  color: $white;
  display: inline-block;
  outline: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  width: 100px;

  &:hover {

    background-color: $yellow-hover;
    color: $black;
    font-weight: bold ;
  }
}
