.wrapper {

  margin: 0 auto ;
  width: 1400px ;
}

html {

  background-color: black;
  margin: 0 ;
  padding: 0 ;
}

body{
  background-image: url("../img/sunflower1.jpg") ;
  background-repeat: no-repeat ;
  background-size: cover ;
  height: 799px;
  max-width: 100%;
}

li{
  list-style: none;
}

ul {

  margin: 0 ;
  padding: 0 ;
}
