.about-me-site-map {

  @include site-map ;
  float: left ;
  padding-left: 100px;
  padding-top: 50px ;
}

.center {
  margin: 0 auto ;
  width: 1400px ;
}
.content-box {

  background-color: $white;
  display: flex ;
  margin: 0 auto ;
  margin-top: 200px ;
}

#image-about-me{

  background-image: url(../../img/about-me.jpg);
  background-size: cover;
  width: 2000px ;
}
.img-about-me img {

  margin: 0 ;
  padding: 0 ;
  width: 500px ;
}

.text-about-me {

  padding: 10px ;
}

.text-about-me {

  h2 {

    font-family: $brush ;
    font-size: 4.375em ;
    text-align: center ;
  }
  p {

    font-family: $roboto ;
    font-size: 1.875em ;
    margin-bottom: 100px ;
    text-align: center ;
  }
}

.hero-about-me-content{

  color: $brown ;
  margin-bottom: 100px ;
  margin-left: 190px ;
}

.hero-about-me-content a {

  border: 2px solid $brown;
  border-radius: 44px;
  color: $brown;
  display: inline-block;
  outline: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  width: 100px;
}
.hero-about-me-content a:hover {
  background-color: $orange-hover;
  color: $white;
  font-weight: bold ;
}
